<footer class="fixed bottom-0 w-full p-3 font-bold bg-white shadow-lg">
  <div class="flex items-center justify-between max-w-screen-sm mx-auto">
    <div>Total:</div>
    <div><%= number_to_currency quote.total_price %></div>
  </div>
</footer>