<% flash.each do |flash_type, message| %>
  <div class="px-3 py-2 text-xs bg-black rounded-3xl shadow text-white animate-[appear-then-fade_5s_both]" data-controller="removals" data-action="animationend->removals#remove">
    <%= message %>
  </div>
<% end %>