<header class="sticky top-0 z-50">
  <nav class="p-3 border-gray-200 shadow bg-white/95 dark:bg-gray-800">
    <div class="flex flex-wrap items-center justify-between max-w-screen-sm mx-auto">
      <a href="/" class="flex items-center gap-3">
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Quotes</span>
        <%= current_company.name if Current.session %>
      </a>
      <div class="flex items-center gap-3">
        <% if Current.session %>
          <%= Current.user.name %>
          <%= button_to "Sign out", Current.session, method: :delete, class: "border bg-slate-100 text-sm rounded-md p-1" %>
        <% else %>
          <a href="/sign_in" class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">Sign in</a>
          <a href="/sign_up" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">Sign up</a>
        <% end %>
      </div>
    </div>
  </nav>
</header>